<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <style>
        .center{
            align-items: center;
            align-self: center;
            align-content: center;
        }

        .title{
            display: block;
            font-size: 30px;
            color: #000;
            font-weight: 300;
        }

        .dash-box {
            position: relative;
            background: rgb(255, 86, 65);
            background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
            background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
            border-radius: 4px;
            text-align: center;
            margin: 80px 0 50px;
        }
        .dash-box-icon {
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
        }
        .dash-box-action {
            transform: translateY(-50%) translateX(-50%);
            position: absolute;
            left: 50%;
        }
        .dash-box-body {
            padding: 65px 20px;
        }
        .dash-box-icon:after {
            width: 100px;
            height: 100px;
            position: absolute;
            background: rgba(247, 148, 137, 0.91);
            content: '';
            border-radius: 50%;
            left: -10px;
            top: -10px;
            z-index: -1;
        }
        .dash-box-icon > i {
            background: rgb(255, 84, 68);
            border-radius: 50%;
            line-height: 80px;
            color: #FFF;
            width: 80px;
            height: 80px;
            font-size:44px;
        }
        .dash-box-icon:before {
            width: 115px;
            height: 115px;
            position: absolute;
            background: rgba(253, 162, 153, 0.34);
            content: '';
            border-radius: 50%;
            left: -17px;
            top: -17px;
            z-index: -2;
        }
        .dash-box-action > button {
            border: none;
            background: #FFF;
            border-radius: 19px;
            padding: 7px 16px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 11px;
            letter-spacing: .5px;
            color: #003e85;
            box-shadow: 0 3px 5px #d4d4d4;
        }
        .dash-box-body > .dash-box-count {
            display: block;
            font-size: 45px;
            color: #FFF;
            font-weight: bold;
            padding-top: 20px;
        }
        .dash-box-body > .dash-box-title {
            font-size: 17px;
            color: rgba(255, 255, 255, 0.81);
            font-weight: bold;
        }

        .dash-box.dash-box-color-2 {
            background: rgb(91, 235, 61);
            background: -moz-linear-gradient(top, rgba(91, 235, 61) 1%, rgba(0, 210, 0) 99%);
            background: -webkit-linear-gradient(top, rgba(91, 235, 61, 1) 1%, rgba(0, 210,0) 99%);
            background: linear-gradient(to bottom, rgba(91,235,61, 1) 1%, rgb(0, 210, 0) 99%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
        }
        .dash-box-color-2 .dash-box-icon:after {
            background: rgba(142, 232, 118, 0.81);
        }
        .dash-box-color-2 .dash-box-icon:before {
            background: rgba(207, 255, 179, 0.64);
        }
        .dash-box-color-2 .dash-box-icon > i {
            background: rgb(91, 233, 64);
            border-radius: 50%;
            line-height: 80px;
            color: #FFF;
            width: 80px;
            height: 80px;
            font-size:44px;
        }

    </style>
</head>

<body>
<div class="d-flex justify-content-end">
    <p><small>© Prova Fácil - Versão {{ configs.VERSION }}</small></p>
</div>
<div class="panel d-flex justify-content-center dash-box-body">
    {% if last_sync %}
        <p class="title">Última sincronização: {{ last_sync.start|date:"d/m/Y H:i:s" }} às {{ last_sync.end|date:"d/m/Y H:i:s" }}</p>
    {% else %}
        <p class="title">Ainda não houve nenhuma sincronização.</p>
    {% endif %}

</div>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="dash-box dash-box-color-2">
                    <div class="dash-box-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="dash-box-body">
                        <span class="dash-box-count">{{ services_with_success|length }}</span>
                        <span class="dash-box-title">serviço(s) com sucesso</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="dash-box dash-box-color-1">
                    <div class="dash-box-icon">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="dash-box-body">
                        <span class="dash-box-count">{{ services_with_error|length }}</span>
                        <span class="dash-box-title">serviço(s) com erro</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    {% for queryconfig in query_config_list %}
                        <li class="list-group-item">{{ queryconfig.service.name }}
                            <div style="float: right">
                                <a class="btn btn-primary" href="{% url 'execute_sync_data' client.client_slug queryconfig.id %}" role="button" target="_blank">Play</a>
                            </div>
                        </li>
                    {% endfor%}
                    {% for web_config in web_configs %}
                        <li class="list-group-item">{{ web_config.service.name }}
                            <div style="float: right">
                                <a class="btn btn-primary" href="{% url 'execute_sync_data_web_config' client.client_slug web_config.id %}" role="button" target="_blank">Play</a>
                            </div>
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        Sincronizar Todos
                        <div style="float: right">
                            <a class="btn btn-primary" href="{% url 'sync_all' client.client_slug %}" role="button" target="_blank">Play</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <a href="{% url 'get_sync_data_status' client.client_slug 0 %}" target="_blank">View all</a>
                <div id="log_data" style="max-height: 500px;overflow: auto">

                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function load_log()
    {
        $.get("{% url 'get_sync_data_status' client.client_slug 100 %}",
            function(data)
            {
                $("#log_data").html(data);
            })
            .always(
                function(){
                    setTimeout(load_log, 5000);
                });
    }
    load_log();
</script>

</body>
</html>